/* Provide sufficient contrast against white background */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.validator{
  font-size: 12px;
  color:#e01a76;
  display: block;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
